<div class="userinfo">

  <h2><%= @user.username.capitalize %></h2>
    <br>
	<p><%= @user.name %></p>
  <p><%= @user.email %></p>

	<div class="profile-usermenu">
		<ul class="nav">


      <% if @user.current_user?(current_user) %>
        <li class = "link">
          <%= link_to edit_user_path(@user) do%>
          <i class="glyphicon glyphicon-user"></i>
          Update Account
          <% end %>
        </li>
      <% end %>
		</ul>
	</div>

</div>
