

<div class ="image">
  <%=image_tag "polirant.png" %>
</div>

<div class="description" >

  <h1> You have a Voice...make it heard! </h1>



    <p> In many online community groups and in personal discussion, many people share their concerns, thoughts and
      suggestions involving various aspects of their local community/neighborhood. However, often these ideas are
      expressed and go no further than that; researching who to express these concerns to in order to make an impact  can
      seem overwhelming or fruitless …enter PoliRant. PoliRant gives community members a resource to connect them   with
      those in elected office, and help them become involved in initiating change by addressing community   concerns.</p>



      <p> PoliRant is a personal letter from you to your representatives. Communicate your viewpoint, your reality,   your
        concerns, and have them heard directly by those elected to represent us.</p>
</div>
