

<%= form_tag "submit", :id => "my_form" do %>
  Comment: <%= text_area_tag "comment", :rows => 4, :cols => 50 %>
  <%= submit_tag "Submit" %>
<% end %>


<div class="form-group">
  <label for="comment">Rant:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>



<textarea rows="30" cols="100">


</textarea>
