// Place all the styles related to the Rants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rant {
  width: 100%;
  height: 2000px;
  background-image: image_url('stripes.png');
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 0px;
}

.sent {
    width: 100%;
    height: 300px;
    background-image: image_url('stripes.png');
    background-repeat: repeat;
    background-size: 100%;
    margin-top: 0px;
  }

  .addysearch {
    width: 100%;
    height: 700px;
    background-image: image_url('stripes.png');
    background-repeat: repeat;
    background-size: 100%;
    margin-top: 0px;
  }


.table {
  width: 50px;
  float: right;
  margin-right: 50px;
}

h2 {
  float: right;
  margin-right: 230px;
}

h3 {
  margin-left: 25px;
  padding-top: 40px;
}

.address {
  margin-left: 50px;
}

.controls > p {
  margin-left: 80px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    margin-left: 80px;
}

label {
  margin-left: 50px;
}

textarea {
  margin-left: 50px;
}

p {
  margin-left: 50px;
  font-size: 12px;
}


  .submit {
    margin-left: 150px;
  }
