// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  margin: 50px;
}

h1 {
  margin: 25px;
}

.retry > span {
  margin-left: 30px;
}

.errors {
  padding-left: 30px;
}

.agreement > h3 {
  float: left;
}

.agreement > p {
  float: left;
  display: inline-block;
  font-size: 14px;
}

.agreement {
  display: inline-block;
  float: left;
}
