// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  margin: 50px;
}

h1 {
  margin: 25px;
}

.retry > span {
  margin-left: 30px;
}

.errors {
  padding-left: 30px;
}

.signup {
  margin-right: 250px;
  margin-left: 50px;
}

.agreement > h3 {
  float: left;
}

.agreement > p {
  float: left;
  display: inline-block;
  font-size: 14px;

}

.agreement {
  display: inline-block;
  float: left;
  
}

.userinfo {
  padding-left: 25px;
  width: 100%;
  height: 300px;
  background-image: image_url('stripes.png');
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 0px;
}

.userinfo > h2 {
  float: left;
  margin-left: 50px;
}

.link {
  margin-left: 50px;
  margin-top: 20px;
  width: 200px;
}
